	<div data-role="header" class="smt-header" data-position="fixed" data-tap-toggle="false">
        <a href="#menu_panel" class="ui-btn-left ui-btn ui-btn-inline ui-corner-all ui-btn-icon-left ui-icon-grid heading-btn">Menu</a>
		<h1>
            <a name="top_heading"></a>
            Sheet Music Tabs
        </h1>
        {% include "site_social.html" %}
        <a href="#search_panel" class="ui-btn-right ui-btn ui-btn-inline ui-corner-all ui-btn-icon-right ui-icon-search heading-btn">Search</a>
    </div><!-- /header -->