<div data-role="panel" id="menu_panel" data-display="overlay" data-position="left" data-position-fixed="true">

        <h4>{{ tab.name }}</h4>

        <ul data-role="listview">

            <li><a href="/" data-ajax="false" title="Sheet Music Tabs Home Page" class="ui-btn ui-btn-icon-left ui-icon-home">Home</a></li>
            <li><a href="#comments_heading" data-ajax="false" title="Add Comment" class="ui-btn ui-btn-icon-left ui-icon-edit">Add Your Comment</a></li>
            <li><a href="#top_heading" data-ajax="false" title="Add Comment" class="ui-btn ui-btn-icon-left ui-icon-arrow-u">Top of Page</a></li>
            <li><a href="#" onclick="window.print(); return false;" data-ajax="false" class="ui-btn ui-btn-icon-left ui-icon-action">Print This Page</a></li>
        </ul>

        {% if band_info %}
            <h4 class="about-heading">About {{ tab.band }}</h4>
            {% if band_info.genres %}
            <h5>Genres</h5>
            {% for g in band_info.genres|info_split %}
            <p class="band-info-item">{{ g }}</p>
            {% endfor %}
            {% endif %}
            {% if band_info.origin %}
            <h5>Origin</h5><p class="band-info-item">{{ band_info.origin }}</p>
            {% endif %}
            {% if band_info.years_active %}
            <h5>Years Active</h5><p class="band-info-item">{{ band_info.years_active }}</p>
            {% endif %}
            {% if band_info.members %}
            <h5>Members</h5>
            {% for g in band_info.members|info_split %}
            <p class="band-info-item">{{ g }}</p>
            {% endfor %}
            {% endif %}
        {% endif %}
</div>