<div data-role="panel" id="search_panel" data-display="overlay" data-position="right" data-position-fixed="true">
    <form id="main_search">
        <label>Search:</label> <input type="text" name="q" id="search_string" />
        <input type="submit" value="Submit" class="ui-btn ui-corner-all ui-btn-icon-right ui-icon-search" />
    </form>

    <div id="search_results_list"></div>

    <a href="#" data-rel="close" class="ui-btn ui-corner-all ui-btn-icon-right ui-icon-delete">Close panel</a>
</div><!-- /panel -->