<div data-role="panel" id="search_panel" data-display="overlay" data-position="right" data-position-fixed="true">
    <form id="main_search">
        <label>Search:</label> <input type="text" name="q" id="search_string" />
        <input type="submit" value="Submit" class="ui-btn ui-corner-all ui-btn-icon-right ui-icon-search" />
    </form>

    <div id="search_results_list"></div>

    <a href="#" data-rel="close" class="ui-btn ui-corner-all ui-btn-icon-right ui-icon-delete">Close panel</a>

    <script type="text/javascript">
    $(document).on('submit', '#main_search', function(e) {
        var q = $('#search_string').val();
        $.getJSON('/ajax/search?q='+q, function(data) {
          var items = [];

          $.each(data, function(key, val) {
            items.push('<li id="' + key + '"><a href="' + val['url'] + '" data-ajax="false">' + val['name'] + ' by ' + val['band'] + '</a></li>');
          });

          $('#search_results_list').html('');
          $('<ul/>', {
            'class': 'search-results-list',
            'data-role': 'listview',
            html: items.join('')
          }).appendTo('#search_results_list');
          $('#search_results_list').trigger("create");
        });
        e.preventDefault();
    });
    </script>
</div><!-- /panel -->