{% extends "root.html" %}

{% block title %}Tabs{% endblock %}

{% block content %}
    <h3>
        {{ tab.name }}
    </h3>
    <h4>
        by <i>{{ tab.band }}</i>
    </h4>

    <pre id="tab_viewer">{{ tab.tab|safe }}</pre>

    <div class="ui-corner-all custom-corners" style="margin-top:20px;">
      <div class="ui-bar ui-bar-a">
        <h3>Comments</h3>
      </div>
      <div class="ui-body ui-body-a">
        <ul data-role="listview">
        {% for comment in comments %}
            <li><h2>{{ comment.name }}</h2><p> {{ comment.comment }}</p></li>
        {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}

