{% extends "root.html" %}

{% block title %}{{ tab.name }} by {{ tab.band }}{% endblock %}

{% block content %}
<div data-role="page" class="tab_page" data-title="{{ tab.name }} by {{ tab.band }}">
    {% include "search.html" %}

    {% include "menu.html" %}

    {% include "header.html" %}

    <div id="zoom_widget">
        <p class="zoom-title">Zoom</p>
        <a href="#" onclick="zoom(0.1);" class="ui-btn ui-btn-inline ui-corner-all ui-icon-plus ui-btn-icon-notext">Zoom In</a><br/>
        <a href="#" onclick="zoom(-0.1);" class="ui-btn ui-btn-inline ui-corner-all ui-icon-minus ui-btn-icon-notext">Zoom Out</a>
    </div>

    <div role="main" class="ui-content">

    <h3>
        Song: {{ tab.name }}
    </h3>
    <h4>
        Band: {{ tab.band }}<br/>
        {% if extended_info.composers %}
            Composed By: {{ extended_info.composers|join:", " }}
        {% endif %}
    </h4>
    <h5>Rating: <span style="color: red">-{{ tab.vote_no }}</span> <span style="color: green">+{{ tab.vote_yes }}</span> Views: {{ tab.hit_count }}</h5>
    <!-- mobile_ad3 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:300px;height:250px"
         data-ad-client="ca-pub-9811013802250997"
         data-ad-slot="6645078887"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>

    {% if extended_info %}
        {% if extended_info.lyrics %}
            <div data-role="collapsible" >
                <h3>View Just Lyrics...</h3>
                <p>
                    {{ extended_info.lyrics|linebreaksbr }}
                </p>
             </div>
        {% endif %}
        <div data-role="collapsible" >
            <h3>View Albums that This Song Appears On...</h3>
        {% if extended_info.albums %}
            <ul data-role="listview" data-inset="true">
            {% for album in extended_info.albums %}
                <li>
                    <img src="{{ album.coverimg_src }}" class="album_image" />
                    <h2>{{ album.albumname }}</h2>
                    <p>
                        {% if album.genre %}
                        <strong>Genre:</strong> {{ album.genre }}
                        {% endif %}
                        {% if album.label %}
                        <strong>Label:</strong> {{ album.label }}
                        {% endif %}
                        {% if album.song_duration %}
                        <strong>Song Duration on Album:</strong> {{ album.song_duration }}
                        {% endif %}
                        {% if album.album_duration %}
                        <strong>Album Duration:</strong> {{ album.album_duration }}
                        {% endif %}
                    </p>
                    {% if album.releasedate %}
                    <p><strong>Release Date:</strong> {{ album.releasedate }}</p>
                    {% endif %}
                    {% if album.moods %}
                    <p><strong>Moods:</strong> {{ album.moods|join:", " }}</p>
                    {% endif %}
                    {% if album.styles %}
                    <p><strong>Styles:</strong> {{ album.styles|join:", " }}</p>
                    {% endif %}
                    {% if album.themes %}
                    <p><strong>Themes:</strong> {{ album.themes|join:", " }}</p>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        </div>
    {% endif %}

    <pre id="tab_viewer">{{ tab.tab|safe }}</pre>

    <h3>Help Rate This Tab by Voting Up or Down</h3>
    <span id="vote_form">
        <div data-role="controlgroup">
            <a href="#" class="ui-btn ui-icon-carat-u ui-btn-icon-notext ui-corner-all" id="voteup">Vote Up</a>
            <a href="#" class="ui-btn ui-icon-carat-d ui-btn-icon-notext ui-corner-all" id="votedown">Vote Down</a>
        </div>
    </span>
    <h5>Rating: <span style="color: red">-{{ tab.vote_no }}</span> <span style="color: green">+{{ tab.vote_yes }}</span></h5>

    <div class="ui-corner-all custom-corners" style="margin-top:20px;">
      <div class="ui-bar ui-bar-a">
        <h3><a name="comments_heading">Add Your Comments / Edits to This Music</a></h3>
      </div>
      <div class="ui-body ui-body-a">
        {% if comments_form.errors %}
            <h4 class="error" id="errors">Error!</h4>
            <ul>
            {% for field in comments_form %}
                {% if field.errors %}
                <li>
                    <strong class="error">{{ field.label }}</strong> - {% for error in field.errors %}{{ error }}{% endfor %}
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        {% endif %}

        <form id="comments_form" method="POST" data-ajax="false">
            <label for="name" class="ui-hidden-accessible">Name:</label>
            <input type="text" name="name" id="name" placeholder="Enter Name" value="{{ comments_form.name.value|default_if_none:'' }}"/>

            <label for="email" class="ui-hidden-accessible">E-mail:</label>
            <input type="text" name="email" id="email" placeholder="Enter E-mail" value="{{ comments_form.email.value|default_if_none:'' }}"/>

            <label for="website" class="ui-hidden-accessible">Website:</label>
            <input type="text" name="website" id="website" placeholder="Enter Website URL eg. http://www.mywebsite.com/" value="{{ comments_form.website.value|default_if_none:'' }}"/>

            <label for="comment" class="ui-hidden-accessible">Comment:</label>
            <textarea cols="40" rows="8" name="comment" id="comment" placeholder="Enter Your Comments Here">{{ comments_form.comment.value|default_if_none:'' }}</textarea>
            {% csrf_token %}
            <input type="submit" value="Submit" data-icon="check" data-iconpos="right" data-inline="true">
        </form>
      </div>
    </div>

    {% if suggested_tabs %}
    <h3>Other Songs Like This</h3>
    <ul data-role="listview" data-inset="true">
    {% for suggested_tab in suggested_tabs %}
        <li>
            <a href="{{ suggested_tab.url }}" data-ajax="false">
                <strong>{{ suggested_tab.name }}</strong> by {{ suggested_tab.band }}
                <span style="color: red">-{{ suggested_tab.vote_no }}</span> <span style="color: green">+{{ suggested_tab.vote_yes }}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
    {% endif %}

    {% if comments %}
    <div class="ui-corner-all custom-corners" style="margin-top:20px;">
      <div class="ui-bar ui-bar-a">
        <h3>Comments for This Music</h3>
      </div>
      <div class="ui-body ui-body-a">
        <ul data-role="listview">
        {% for comment in comments %}
            <li><h2>{{ comment.name }}</h2> <p>{{ comment.comment }}</p></li>
        {% endfor %}
        </ul>
      </div>
    </div>
    {% endif %}


    <h3>Latest Sheets, Music, Lyrics and Tabs</h3>

    <ul data-role="listview" data-inset="true">
    {% for tab in latest_tabs %}
    <li><a href="{{ tab.url }}" title="{{ tab.name }} by {{ tab.band }}" data-ajax="false">"{{ tab.name }}" by {{ tab.band }}</a></li>
    {% endfor %}
    </ul>

    <h3>Latest Discussion about a Sheet, Song, Lyric or Tab</h3>

    <ul data-role="listview" data-inset="true">
    {% for tab in discussed_tabs %}
    <li><a href="{{ tab.tab.url }}" title="{{ tab.tab.name }} by {{ tab.tab.band }}" data-ajax="false">"{{ tab.tab.name }} by {{ tab.tab.band }}</a></li>
    {% endfor %}
    </ul>


    <div id="chord_popup">
        <a href="#" class="chord_popup_close"><span class="close_button">x</span></a>
        <div id="chord_popup_diagram"></div>
    </div>
    <script type="text/javascript">
        function close_chord_popup(e) {
            $('#chord_popup').css('visibility', 'hidden');
            $('#chord_popup_diagram').html('');
        }

        /*
            Do some scaling
        */
        var scrollWidth;
        var currentFontSize = 1.0;

        function zoom(d) {
            currentFontSize += d;
            var lineHeight = Math.max(currentFontSize, 1.1);
            $( "#tab_viewer" ).css('font-size', currentFontSize+'em');
            $( "#tab_viewer" ).css('line-height', lineHeight+'em');
        }

        function scaleTabViewer() {
            var padding = 40;
            var viewportWidth = $(window).width() - padding;

            if(scrollWidth > viewportWidth) {
                var ratio = viewportWidth / scrollWidth;
                if(ratio < 0.6) {
                    ratio = 0.6;
                }
                currentFontSize = ratio;
                $( "#tab_viewer" ).css('font-size', ratio+'em');
                $( "#tab_viewer" ).css('font-family', 'Inconsolata');
            }
        }

        head.ready(function () {
        $(document).ready(function(e) {
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie != '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) == (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getCookie('csrftoken');
            function csrfSafeMethod(method) {
                // these HTTP methods do not require CSRF protection
                return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
            }
            $.ajaxSetup({
                beforeSend: function(xhr, settings) {
                    if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                        xhr.setRequestHeader("X-CSRFToken", csrftoken);
                    }
                }
            });

            $('#main_search').submit(function(e) {
                var q = $('#search_string').val();
                $.getJSON('/ajax/search?q='+q, function(data) {
                  var items = [];

                  $.each(data, function(key, val) {
                    items.push('<li id="' + key + '"><a href="' + val['url'] + '" data-ajax="false">' + val['name'] + ' by ' + val['band'] + '</a></li>');
                  });

                  $('#search_results_list').html('');
                  $('<ul/>', {
                    'class': 'search-results-list',
                    'data-role': 'listview',
                    html: items.join('')
                  }).appendTo('#search_results_list');
                  $('#search_results_list').trigger("create");
                });
                e.preventDefault();
            });

            {% if scroll_to %}
                $('html, body').animate({
                    scrollTop: {{ scroll_to|safe }}
                }, 1000);
            {% endif %}
            function voteThank() {
                $('#vote_form').fadeOut( 900, function() {
                    $('#vote_form').html("Thank You For Your Vote").fadeIn( 900 );
                });
            }
            $('#voteup').click(function(e) {
                $('#voteup').click(function() {});
                $.ajax({type: "POST", success: voteThank, data: { 'method': 'vote', 'tabid': {{ tab.id }}, 'submit': 'voteup' }});
            });
            $('#votedown').click(function(e) {
                $('#votedown').click(function() {});
                $.ajax({type: "POST", success: voteThank, data: { 'method': 'vote', 'tabid': {{ tab.id }}, 'submit': 'votedown' }});
            });

            $('.show_diagram_link').click(close_chord_popup);
            $('.show_diagram_link').click(function(e) {
                var elem = $( this );
                $('#chord_popup').css('position', 'absolute').css('top', e.pageY-20+'px').css('left', e.pageX+'px')
                    .css('visibility', 'visible');
                $('#chord_popup_diagram').html('');
                var exp = /\s*(([a-g])([#b])?\s?(min|maj|m|dim|5|6|7|maj7|9|maj9|11|13|maj13|min6|min7|min9|min11|min13|sus2|sus4|dim|aug|6\/9|7sus4|7b5|7b9|9sus4|add9|aug9)?)\s*/i;
                var match = exp.exec(elem.html())
                var note = match[2];
                var sf = match[3]
                var modifier = match[4];
                if(modifier == 'm') {
                    modifier = 'min';
                }
                parsed = note;
                if(sf) { parsed += sf; }
                if(modifier) { parsed += ' ' + modifier; }
                Raphael.chord('chord_popup_diagram', parsed).element.setSize(100, 100);
            });
            $('#chord_popup').click(close_chord_popup);
            $('#close_ad_button_footer').click(function(e) {
                $('#tab_page_footer').remove();
            });

            scrollWidth = document.getElementById('tab_viewer').scrollWidth;


        }); //end onready from jquery
        }); //end head ready async loading

    </script>

        {% include "footer.html" %}
    </div> <!-- end content -->
    <div data-role="footer" data-position="fixed" id="tab_page_footer">
        <a href="#" class="ui-btn ui-btn-inline ui-corner-all ui-icon-delete" id="close_ad_button_footer">Close Ad</a>
        <!-- mobile_ad4 -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:320px;height:100px"
             data-ad-client="ca-pub-9811013802250997"
             data-ad-slot="8121812083"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div><!-- /footer -->

</div>
{% endblock %}

