{% extends "root.html" %}

{% block title %}Tabs{% endblock %}

{% block content %}
    <h3>
        {{ tab.name }}
    </h3>
    <h4>
        by <i>{{ tab.band }}</i>
    </h4>

    {% for chord in tab.chords %}
        <div style="float: left;">
            <div style="text-align: center"><strong>{{ chord }}</strong></div>
            <div id="{{ chord }}"></div>
        </div>
        <script type="text/javascript">Raphael.chord('{{ chord }}', '{{ chord }}').element.setSize(100, 100);</script>
    {% endfor %}

    <pre style="clear: both; margin-top: 10px; padding-top: 10px; overflow: auto;">{{ tab.tab|safe }}</pre>
    {% for comment in comments %}
        <li><strong>{{ comment.name }}</strong>: {{ comment.comment }}</li>
    {% endfor %}
{% endblock %}

