{% extends "root.html" %}

{% block title %}Sheet, Music, Tabs and More{% endblock %}

{% block content %}
<div data-role="page" class="tab_page" data-title="Sheet, Music, Tabs and More">
    {% include "search.html" %}

    {% include "menu.html" %}

    {% include "header.html" %}

    <div role="main" class="ui-content">

        <h3>Latest Sheets, Music, Lyrics and Tabs</h3>

        <ul data-role="listview" data-inset="true">
        {% for tab in latest_tabs %}
        <li><a href="{{ tab.url }}" title="{{ tab.name }} by {{ tab.band }}" data-ajax="false">"{{ tab.name }}" by {{ tab.band }}</a></li>
        {% endfor %}
        </ul>

        <h3>Latest Discussion about a Sheet, Song, Lyric or Tab</h3>

        <ul data-role="listview" data-inset="true">
        {% for tab in discussed_tabs %}
        <li><a href="{{ tab.tab.url }}" title="{{ tab.tab.name }} by {{ tab.tab.band }}" data-ajax="false">"{{ tab.tab.name }}" by {{ tab.tab.band }}</a></li>
        {% endfor %}
        </ul>

        <h3>Highest Rated</h3>

        <ul data-role="listview" data-inset="true">
        {% for tab in highest_rated %}
        <li><a href="{{ tab.url }}" title="{{ tab.name }} by {{ tab.band }}" data-ajax="false">"{{ tab.name }}" by {{ tab.band }}</a></li>
        {% endfor %}
        </ul>

        <h3>Most Viewed</h3>

        <ul data-role="listview" data-inset="true">
        {% for tab in most_viewed %}
        <li><a href="{{ tab.url }}" title="{{ tab.name }} by {{ tab.band }}" data-ajax="false">"{{ tab.name }}" by {{ tab.band }}</a></li>
        {% endfor %}
        </ul>

        {% include "footer.html" %}

    </div>

</div>
{% endblock %}

